* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.limitless-section {
  height: auto;
  background-color: black;
}
.limitless-parent-div {
  background-color: whitesmoke;
  display: block;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding-top: 99px;
}
.text-limitless {
  color: black;
  font-family: "Raleway";
  font-size: 200%;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.p-tag4 {
  color: gray;
  font-family: "Raleway";
  font-size: small;
  line-height: 20px;
  font-weight: lighter;
  font-style: normal;
  width: 58%;
  align-items: center;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.button-4 {
  margin-top: 30px;
  .button4 {
    width: 200px;
    height: 60px;
    background-color: #745cf9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "raleway";
    cursor: pointer;
    outline: none;
    border: none;
  }
}
.button-4:hover {
  margin-top: 30px;
  .button4 {
    width: 200px;
    height: 60px;
    background-color: #5c46d9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.img4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-div4 {
  height: 100%;
  width: 85%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
}
